<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengramver2.feed.FeedPicsMapper">
    <insert id="insFeedPics">
        INSERT INTO feed_pics
        ( feed_id, pic )
        VALUES
        <foreach collection="pics" item="pic" open="(" close=")" separator="),(">
            #{feedId}, #{pic}
        </foreach>
    </insert>

    <insert id="insFeedPics2">
        INSERT INTO feed_pics
        ( feed_id, pic )
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            ( #{feedId}, #{pic} )
        </foreach>
    </insert>

    <select id="selFeedPics">
        SELECT pic
          FROM feed_pics
         WHERE feed_id = #{feedId}
    </select>
</mapper>