<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengram.feed.like.FeedLikeMapper">

    <insert id="insFeedLike">
        INSERT INTO feed_like
           SET feed_id = #{feedId}
             , user_id = #{userId}
    </insert>

    <delete id="delFeedLike">
        DELETE FROM feed_like
         WHERE feed_id = #{feedId}
           AND user_id = #{userId}
    </delete>

</mapper>