<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengramver2.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feedId">
        INSERT INTO feed
           SET writer_user_id = #{writerUserId}
             , contents = #{contents}
             , location = #{location}
    </insert>

    <select id="selFeedList">
        SELECT A.feed_id AS feedId, A.contents, A.location
             , A.created_at AS createdAt
             , B.user_id AS writerId
             , IF(B.nick_name IS NULL, B.uid, B.nick_name) AS writerNm
             , B.pic AS writerPic
             , IF(C.feed_id IS NULL, 0, 1) AS isLike
          FROM feed A
         INNER JOIN user B
            ON A.writer_user_id = B.user_id
          LEFT JOIN feed_like C
            ON A.feed_id = C.feed_id
           AND C.user_id = #{signedUserId}
         ORDER BY A.feed_id DESC
         LIMIT #{startIdx}, #{size}
    </select>
</mapper>